* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.js_contain{
    justify-content: space-between;
}
body{
    font-family: 'Ubuntu', sans-serif;
}

#first_menu{

    background-color: #0f2f44;
}


.hed{
    display: flex;
    color: wheat;
    justify-content: space-between;
    padding: 19px 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
nav ul{
    list-style-type: none;
    display: flex;

}
nav ul li a{
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 0px 19px;
}
nav ul li a:hover{
    background-color: #fff9e6;
    color: #ffc712;
}
#banner{
    background-image: url(./img/bg-1.png);
    padding: 141px 0px;
}
#banner h6{
    font-size: 50px;
    line-height: 70px;
    font-weight: 400;
   
    color: #0f2f44;
}
#banner h1{
    font-size: 80px;
    line-height: 70px;
    font-weight: 400;
}
#banner h3{
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 9px;
    padding-bottom: 34px;
    color: #8484bf;
}
#banner p{
    color: #525456;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 33px;
}
#banner a{
    text-decoration: none;
    background-color: #8484bf;
    color: white;
    padding: 15px 20px;
}
#About-us p{
    font-size: 14px;
    color: #525456;
}

#About-us h2{
    font-size: 32px;
    color: #0f2f44;
}
ul{
    list-style-type: none;
    padding-bottom: 30px;
}
li{
    padding: 14px 0px;
}
.about_wrapper{
    display: flex;
    justify-content: space-between;
}
#About-us{
    margin-top: 105px;
}
#About-us a{
    text-decoration: none;
    color: #0f2f44;
    font-size: 20px;
    line-height: 44px;
    padding:20px 28px;
    background-color: white;
    font-weight: 500;
    transition: .8s;
    box-shadow: 1px 1px 3px;
    
     
    
}
#About-us a:hover{
    background-color: #ffc712;
}
#skils p{
    font-size: 14px;
    color: #525456;
}
#skils h2{
    font-size: 32px;
    color: #0f2f44;
}
.skils_wraper{
    display: flex;
    justify-content: space-between;
}



